$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';

@import 'base/functions';
@import 'base/variables';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

// COMMON

.btn {
	display: inline-block;
	min-width: 215px;
	position: relative;
	padding: 22px;
	color: $white;
	background-color: $black;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 13px;
	transition: background-color 0.3s, color 0.3s;

	&:hover {
		background-color: $pale;
		color: $black;
	}
}

.box-btn {
	display: inline-flex;
	align-items: center;
	font-size: 15px;
	color: $black;
	text-decoration: none;
	font-weight: 700;
	font-family: $base-font-serif;
	position: relative;
	padding: $section-spacing 46px;

	&:hover {
		background-color: $black;
		color: $white;
		transition: background-color 0.3s, color 0.3s;
		transition-delay: 0.4s;
		&:before {
			width: 100%;
			height: 100%;
		}
	}

	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		width: 30px;
		height: 0;
		border: 1px solid $black;
		left: 0;
		transition: height 0.3s, width 0.3s;
	}
}

.social {
	@extend %listreset;
	display: flex;
	align-items: center;

	li {
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: inline-flex;
		height: 32px;
		width: 32px;
		background-color: $pale;
		justify-content: center;
		align-items: center;
		color: $white;
		transition: border-radius 0.3s, color 0.3s;

		&:hover {
			border-radius: 50%;
			color: $black;
		}
	}
}

.contact-form-holder {
	width: 460px;
	padding: 55px 60px;
	background-color: $white;
	flex-shrink: 0;

	input {
		display: inline-block;
		width: 100%;
		border: none;
		border-bottom: 1px solid $gray;
		outline: none;
		padding: 10px 0;
		margin-bottom: 20px;

		&:focus {
			border-color: $black;
		}

		&.btn {
			margin-top: 52px;
			font-size: 15px;
			padding: 20px;
			background-color: $pale;
			color: $white;
			border-bottom: none;

			&:hover {
				background-color: $black;
				color: $white;
			}
		}
	}

	.tip {
		opacity: 0.5;
		font-size: 14px;
		margin-bottom: 0;
	}
}

#wrapper {
	overflow: hidden;
}

span {
	font-family: $base-font-serif;
	font-weight: 400;
	&.big {
		font-size: 51px;
	}

	&.md {
		font-size: 28px;
		margin-right: 0.25em;
	}

	&.small {
		font-size: 16px;
	}
}

// HEADER STYLES

#header {
	padding: 24px $section-spacing;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.nav {
		li {
			display: flex;
			align-items: center;
			margin: 0 60px;
			padding: 20px 0;
			position: relative;

			&:last-child {
				&:after {
					display: none;
				}
			}

			&:after {
				content: '';
				height: 6px;
				width: 6px;
				background-color: $pale;
				display: inline-block;
				position: absolute;
				right: -60px;
			}

			&.hover {
				&>a {
					color: $pale;
				}

				.dropdown {
					max-height: 600px;

					ul {
						transform: translateY(0);
					}
				}
			}
		}

		a {
			i {
				vertical-align: text-top;
				margin-left: 5px;
			}
		}
	}
	
	a {
		font-family: $base-font-serif;
		color: $black;
		text-decoration: none;
		transition: border-radius 0.3s, color 0.3s;
		font-size: 15px;

	}

	ul {
		@extend %listreset;
		display: flex;
		align-items: center;
	}

	.contacts {
		display: flex;
		align-items: center;

		&>a {
			&:hover {
				color: $pale;
			}
		}

		.tel {
			font-family: $base-font-sans-serif;
			font-weight: 700;
			margin-right: 60px;
			i {
				color: $pale;
				margin-right: 15px;
			}
		}
	}

	.dropdown {
		position: absolute;
		z-index: 2;
		top: 100%;
		left: 0;
		width: 275px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s;
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);

		ul {
			display: block;
			background-color: $white;
			padding: 35px 30px;
			transform: translateY(-100%);
			transition: transform 0.3s;

			li {
				margin: 0 0 20px;
				padding: 0;

				&:last-child {
					margin-bottom: 0;
				}

				&:after {
					display: none;
				}
			}
		}
	}

}

.logo {
	max-width: 62px;
	width: 100%;

	a {
		display: block;
	}
}

// Main

.hero-section {
	padding: $section-spacing;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	height: 780px;
	display: flex;
	justify-content: center;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.5;
		background-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0));
	}

	.container {
		position: relative;
		z-index: 1;
		max-width: 1560px;
		padding: $section-spacing;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.col {
			max-width: 1070px;
			padding-right: 15%;

			&:last-child {
				padding-right: 0;
			}
		}
	}

	h2 {
		font-size: 60px;
		color: $white;
		margin-bottom: 60px;
	}

	h3 {
		line-height: 1.5;
		font-size: 24px;
		font-family: $base-font-sans-serif;
		font-weight: 600;
		margin-bottom: 20px; 
	}
}

.team-hero {
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	height: 780px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 80px $section-spacing;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
		opacity: 0.6;
	}

	h2 {
		color: $white;
		font-size: 60px;
		position: relative;
		z-index: 1;
	}
}

.features-section {
	padding: 100px 0;
	position: relative;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(to right, rgba(209, 168, 125, 0), #d1a87d 52%, rgba(209, 168, 125, 0) 100%);
	}

	.container {
		max-width: 1350px;
		margin: 0 auto;
		position: relative;
		padding: 0 $section-spacing;
	}

	h2 {
		max-width: 810px;
		margin: 0 auto;
		text-align: center;
		font-size: 22px;
		font-weight: 700;
		line-height: 1.7;
		margin-bottom: 90px;
	}

	.feature-list {
		@extend %listreset;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		li {
			flex-grow: 1;
			flex-basis: 0;
			text-align: center;
		}

		.circle {
			height: 84px;
			width: 84px;
			display: flex;
			border-radius: 50%;
			background: linear-gradient(225deg, #f8dab9, #d8b895);
			padding: 15px;
			margin: 0 auto 50px;
		}
	}
}

.boxes-section {
	padding: 140px 0;

	&.lg-box-holder {
		padding: 90px 0;
	}

	&.reverse-boxes {
		.box {
			flex-direction: row-reverse;

			.image {
				&:after {
					right: auto;
					left: -40px;
				}
			}

			&:nth-child(even) {
				flex-direction: row;

				.image {
					&:after {
						right: -40px;
						left: auto;
					}
				}
			}
		}
	}

	.container {
		max-width: 1560px;
		margin: 0 auto;
		padding: 0 $section-spacing;
	}

	.box {
		display: flex;
		margin-bottom: 110px;

		&:nth-child(even) {
			flex-direction: row-reverse;

			.image {
				&:after {
					right: auto;
					left: -40px;
				}
			}
		}

		&:last-child {
			margin-bottom: 70px;
		}

		&.lg {
			flex-direction: row-reverse;
			font-family: $base-font-serif;
			margin-bottom: 0;

			.image {
				height: 800px;

				&:after {
					right: -60px;
					top: 60px;
					bottom: 60px;
					height: auto;
					width: 100vw;
				}
			}

			.text-wrapper {
				max-width: 500px;
			}

			.btn {
				margin-top: 40px;
			}
		}

		.col {
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.text-wrapper {
			max-width: 355px;
			line-height: 1.5;
			font-size: 18px;
		}

		.image {
			height: 500px;
			width: 100%;
			background-size: cover;
			background-position: 50% 50%;
			position: relative;

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: -40px;
				right: -40px;
				background-color: $pale-light;
				z-index: -1;
			}
		}

		h3 {
			margin-bottom: 30px;
		}
	}
}

.steps-section {
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	color: $white;
	padding: 130px 0;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba($black, 0.7);
	}

	.container {
		max-width: 1560px;
		margin: 0 auto;
		padding: 0 $section-spacing;
		position: relative;
		z-index: 1;
	}

	h2 {
		font-size: 46px;
		text-align: center;
		margin-bottom: 60px;
	}

	ul {
		@extend %listreset;
		display: flex;
		counter-reset: section;

		li {
			counter-increment: section;
			font-size: 18px;
			line-height: 1.56;
			font-weight: 300;
			flex-grow: 1;
			flex-basis: 0;
			padding: 0 35px;

			&:before {
				content: '0'counter(section);
				font-size: 44px;
				display: block;
				font-family: $base-font-serif;
				font-weight: 700;
				margin-bottom: 15px;
			}
		}
	}
}

.cta-section {
	padding: 130px $section-spacing;
	text-align: center;

	h2 {
		font-size: 46px;
		max-width: 870px;
		margin: 0 auto;
		margin-bottom: 70px;
	}
}

.achievements-section {
	padding: 100px 0;

	.container {
		max-width: 1560px;
		margin: 0 auto;
		padding: 0 $section-spacing;
		display: flex;
		align-items: center;
	}

	.col {
		width: 50%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.image {
		background-size: cover;
		background-position: 50% 50%;
		height: 800px;
		width: 100%;
		position: relative;
		z-index: 1;
	}

	h2 {
		width: 100%;
		text-align: center;
		font-size: 36px;
		margin-bottom: 50px;
	}

	.boxes {
		@extend %listreset;
		max-width: 675px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: $pale-light;
		padding: 97px 0;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 1000vw;
			transform: translateX(-50%);
			background-color: $pale-light;
		}
	}

	li {
		position: relative;
		text-align: center;
		z-index: 1;
		flex-grow: 1;
		flex-basis: 0;
		max-width: 160px;
	}

	.box {
		width: 160px;
		height: 145px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $black;
		color: $white;
		position: relative;
		margin: 0 auto 30px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			border: 1px solid $pale-light;
			top: 1px;
			right: 1px;
			left: 1px;
			bottom: 1px;
		}
	}
}

.contacts-section {
	padding: 115px 0 150px;

	.container {
		max-width: 1560px;
		margin: 0 auto;
		padding: 0 $section-spacing;
		display: flex;
	}

	.col {
		width: 50%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.image {
		background-size: cover;
		background-position: 50% 50%;
		width: 100%;
		height: 100%;
	}

	.contact-form-holder {
		width: 520px;
		padding: 0;
		text-align: center;
		margin-bottom: 115px;

		h3 {
			font-weight: 700;
			line-height: 1.7;
			text-align: left;
		}

		.btn {
			max-width: 80%;
			background-color: $black;

			&:hover {
				background-color: $pale;
			}

		}
	}

	.contacts-holder {
		width: 520px;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: -60px;
			right: -100px;
			width: 100vw;
			height: 100vh;
			background-color: $pale-light;
			z-index: -1;
		}

		h3 {
			margin-bottom: 45px;
		}

		.contact-data {
			display: flex;
			justify-content: space-between;
			padding: 25px 0;
			border-bottom: 1px solid $gray;

			&:last-child {
				border-bottom: none;
			}

			ul {
				@extend %listreset;
			}

			a {
				font-size: 19px;
				font-weight: 700;
				color: $black;
				text-decoration: none;
				transition: opacity 0.3s;

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}

.team-section {
	padding: 150px 0;

	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 $section-spacing;
		display: flex;
	}

	.col {
		width: 33.33%;
		padding: 0 $section-spacing;
		text-align: center;
	}

	.image {
		width: 100%;
		height: 439px;
		background-size: cover;
		background-position: 50% 50%;
	}
}

.gallery-section {

	h2 {
		font-size: 30px;
		text-align: center;
		font-weight: 700;
		margin-bottom: 75px;
	}

	.container {
		max-width: 1560px;
		margin: 0 auto;
		padding: 0 $section-spacing;
	}

	.cols {
		display: flex;
		flex-wrap: wrap;
	}

	.col {
		width: 40%;

		&:first-child {
			width: 60%;
		}

		&:last-child {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	.gallery-tab {
		ul {
			@extend %listreset;
			display: flex;
			flex-wrap: wrap;
		}

		li {
			width: 100px;
			height: 100px;
			margin-right: 30px;
			margin-bottom: 30px;
			overflow: hidden;
			text-align: center;

			&:last-child {
				margin-right: 0;
			}
			
			img {
				height: 100%;
				max-width: none;
			}
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			transition: opacity 0.3s;

			&.active,
			&:hover {
				opacity: 0.5;
			}
		}
	}

	.viewbox {
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}

	.item {
		padding: 120px 0 55px;
	}

	.info {
		padding: 68px 70px;
		line-height: 1.56;

		li {
			&:before {
				content: '-';
				font-weight: 700;
			}
		}
	}

	.meta-info {
		display: flex;
		justify-content: space-around;
		padding: 60px 0;
		position: relative;
		font-size: 22px;
		font-weight: 700;
		text-align: center;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			transform: translateX(25%);
			z-index: -1;
			width: 1000vw;
			background-color: $pale-light;
		}
	}

	ul {
		@extend %listreset;
	}
}

// FOOTER

#footer {
	background-color: $gray-dark;

	.top-part {
		color: $white;
		padding: 60px 0;
	}

	.container {
		max-width: 1560px;
		margin: 0 auto;
		padding: 0 $section-spacing;
		display: flex;
		align-items: flex-start;
	}

	.col {
		display: flex;
		flex-grow: 1;
		flex-basis: 0;
	}

	.logo {
		flex-grow: 1;
		flex-basis: 0;
	}

	h3 {
		font-size: 17px;
		font-weight: 700;
		margin-right: 60px;
	}

	ul {
		@extend %listreset;

		li {
			margin-bottom: 5px;
		}
	}

	a {
		color: $white;
		text-decoration: none;
		opacity: 0.7;
		transition: opacity 0.3s;
		&:hover {
			opacity: 1;
		}
	}

	address {
		opacity: 0.7;
		font-style: normal;
		line-height: 1.56;
	}

	.social {
		align-items: flex-start;

		a {
			opacity: 1;
			transition: border-radius 0.3s, color 0.3s;

			&:hover {
				color: $black;
			}
		}
	}

	.footer-nav {
		background-color: rgba($white, 0.05);
		padding: 22px 0;

		.container {
			display: block;
		}

		ul {
			display: flex;
			justify-content: space-around;
		}
	}
}