<!DOCTYPE html>
<html lang="en">
<head>
{% include "./components/head-content.html" %}
</head>
<body>
	<div id="wrapper">
		{% include "./components/header.html" %}
		<main id="main">
            <div class="boxes-section lg-box-holder">
                <div class="container">
                    <div class="box lg">
                        <div class="col">
                            <div class="text-wrapper">
                                <p>
                                    <strong>
                                        Компания RH основана в 2008 г, с тех пор мы накопили большой опыт в сфере комплексного ремонта квартир и других помещений. С нами вы сможете воплотить в интерьер любые дизайнерские идеи, создать уютную и стильную обстановку в сжатые сроки и по разумным ценам.
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        Мы внедрили современные технологии во все процессы. Дополнительно обеспечиваем техническую поддержку клиентов.
                                    </strong>
                                </p>
                                <a href="#" class="btn">Заказать Проект</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image" style="background-image: url('../images/about_1.jpg');"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features-section">
                <div class="container">
                    <h2>Почему Выбирают Нас?</h2>
                    <ul class="feature-list">
                        <li>
                            <div class="circle">
                                <img src="../images/warranty.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Гарантия своевременно выполнения работ
                            </span>
                        </li>
                        <li>
                            <div class="circle">
                                <img src="../images/experience.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Опытные специалисты
                            </span>
                        </li>
                        <li>
                            <div class="circle">
                                <img src="../images/price.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Прозрачная и понятная смета
                            </span>
                        </li>
                        <li>
                            <div class="circle">
                                <img src="../images/sale.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Система скидок
                            </span>
                        </li>
                        <li>
                            <div class="circle">
                                <img src="../images/products.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Закупка и доставка материала
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="achievements-section">
                <div class="container">
                    <div class="col">
                        <h2>Наши достижения</h2>
                        <ul class="boxes">
                            <li>
                                <div class="box">
                                    <div class="text">
                                        <span class="big">11</span>
                                    </div>
                                </div>
                                <p>лет на рынке</p>
                            </li>
                            <li>
                                <div class="box">
                                    <div class="text">
                                        <span class="big">532</span>
                                    </div>
                                </div>
                                <p>довольных клиентов</p>
                            </li>
                            <li>
                                <div class="box">
                                    <div class="text">
                                        <span class="big">31</span>
                                        <span class="md">.560</span>
                                        <span class="small">м<sup>2</sup></span>
                                    </div>
                                </div>
                                <p>отремонтированного жилья</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="image" style="background-image: url('../images/about_2.jpg');"></div>
                    </div>
                </div>
            </div>
            <div class="boxes-section reverse-boxes">
                <div class="container">
                    <div class="box">
                        <div class="col">
                            <div class="text-wrapper">
                                <h3>Дизайн интерьера</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="box-btn">Подробнее</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image" style="background-image: url('../images/2.jpg');"></div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="col">
                            <div class="text-wrapper">
                                <h3>Ремонт квартир и коммерческих помещений</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="box-btn">Подробнее</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image" style="background-image: url('../images/3.jpg');"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cta-section" style="background-image: url('../images/bg.jpg');">
                <h2>Запишитесь на просмотр объектов находящихся в работе</h2>
                <div class="btn-holder">
                    <a href="#" class="btn">Оставить заявку</a>
                </div>
            </div>
        </main>
		{% include "./components/footer.html" %}
	</div>
</body>
</html>
