<!DOCTYPE html>
<html lang="en">
<head>
{% include "./components/head-content.html" %}
</head>
<body>
	<div id="wrapper">
		{% include "./components/header.html" %}
		<main id="main">
            <div class="hero-section" style="background-image: url('../images/1.jpg');">
                <div class="container">
                    <div class="col">
                        <h2>Надежный ремонт вашей квартиры с гарантией 3 года</h2>
                        <a href="#" class="btn">Заказать Проект</a>
                    </div>
                    <div class="col">
                        <div class="contact-form-holder">
                            <h3>Запишитесь на просмотр объектов находящихся в работе</h3>
                            <form action="#">
                                <input type="text" placeholder="Ваше Имя">
                                <input type="tel" placeholder="Номер Телефона">
                                <input type="submit" value="Оставить Заявку" class="btn">
                            </form>
                            <p class="tip">*Ваши данные не будут переданы третьим лицам</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features-section">
                <div class="container">
                    <h2>Компания RH основана в 2008 г, с тех пор мы накопили большой опыт в сфере комплексного ремонта квартир и других помещений. С нами вы сможете воплотить в интерьер  любые дизайнерские идеи, создать уютную и стильную обстановку в сжатые сроки и по разумным ценам.</h2>
                    <ul class="feature-list">
                        <li>
                            <div class="circle">
                                <img src="../images/warranty.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Гарантия своевременно выполнения работ
                            </span>
                        </li>
                        <li>
                            <div class="circle">
                                <img src="../images/experience.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Опытные специалисты
                            </span>
                        </li>
                        <li>
                            <div class="circle">
                                <img src="../images/price.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Прозрачная и понятная смета
                            </span>
                        </li>
                        <li>
                            <div class="circle">
                                <img src="../images/sale.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Система скидок
                            </span>
                        </li>
                        <li>
                            <div class="circle">
                                <img src="../images/products.svg" alt="icon">
                            </div>
                            <span class="feature-title">
                                Закупка и доставка материала
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="boxes-section">
                <div class="container">
                    <div class="box">
                        <div class="col">
                            <div class="text-wrapper">
                                <h3>Дизайн интерьера</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="box-btn">Подробнее</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image" style="background-image: url('../images/2.jpg');"></div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="col">
                            <div class="text-wrapper">
                                <h3>Ремонт квартир и коммерческих помещений</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="box-btn">Подробнее</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image" style="background-image: url('../images/3.jpg');"></div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="col">
                            <div class="text-wrapper">
                                <h3>Фасадные работы</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="box-btn">Подробнее</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image" style="background-image: url('../images/4.jpg');"></div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="col">
                            <div class="text-wrapper">
                                <h3>Благоустройство и ландшафтные работы </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <a href="#" class="box-btn">Подробнее</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image" style="background-image: url('../images/5.jpg');"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="steps-section" style="background-image: url('../images/6.jpg');">
                <div class="container">
                    <h2>5 Шагов Успешного Ремонта</h2>
                    <ul>
                        <li>Договорится об удобном для Вас времени для БЕСПЛАТНОГО визита нашего инженера.</li>
                        <li>Выезд специалиста и проведение замеров, постановка задач.</li>
                        <li>Составление детального расчета стоимости ремонта.</li>
                        <li>Заказ и доставка всех необходимых материалов на объект. </li>
                        <li>Ремонт завершён в установленный срок</li>
                    </ul>
                </div>
            </div>
            <div class="cta-section" style="background-image: url('../images/bg.jpg');">
                <h2>Запишитесь на просмотр объектов находящихся в работе</h2>
                <div class="btn-holder">
                    <a href="#" class="btn">Оставить заявку</a>
                </div>
            </div>
        </main>
		{% include "./components/footer.html" %}
	</div>
</body>
</html>
