<!DOCTYPE html>
<html lang="en">
<head>
{% include "./components/head-content.html" %}
</head>
<body>
	<div id="wrapper">
		{% include "./components/header.html" %}
		<main id="main">
            <div class="team-hero" style="background-image: url('https://www.w3.org/2013/11/team-photo.jpg');">
                <h2>Наша Команда</h2>
            </div>
            <div class="team-section">
                <div class="container">
                    <div class="col">
                        <div class="image" style="background-image: url('https://i.pinimg.com/originals/39/e9/b3/39e9b39628e745a39f900dc14ee4d9a7.jpg');"></div>
                        <h3>Имя Фамилия</h3>
                        <p>Должность и опыт работы будут написаны в две строки</p>
                    </div>
                    <div class="col">
                        <div class="image" style="background-image: url('https://i.pinimg.com/originals/39/e9/b3/39e9b39628e745a39f900dc14ee4d9a7.jpg');"></div>
                        <h3>Имя Фамилия</h3>
                        <p>Должность и опыт работы будут написаны в две строки</p>
                    </div>
                    <div class="col">
                        <div class="image" style="background-image: url('https://i.pinimg.com/originals/39/e9/b3/39e9b39628e745a39f900dc14ee4d9a7.jpg');"></div>
                        <h3>Имя Фамилия</h3>
                        <p>Должность и опыт работы будут написаны в две строки</p>
                    </div>
                </div>
            </div>
            <div class="cta-section">
                <h2>Запишитесь на просмотр объектов находящихся в работе</h2>
                <div class="btn-holder">
                    <a href="#" class="btn">Оставить заявку</a>
                </div>
            </div>
        </main>
		{% include "./components/footer.html" %}
	</div>
</body>
</html>
