<footer id="footer">
    <div class="top-part">
        <div class="container">
            <div class="col">
                <div class="logo">
                    <a href="home.html">
                        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="Refit House">
                    </a>
                </div>
            </div>
            <div class="col">
                <h3>Соц. сети</h3>
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Телефон</h3>
                <ul>
                    <li><a href="tel:+380 99 123 45 67">+380 99 123 45 67</a></li>
                    <li><a href="tel:+380 99 123 45 67">+380 99 123 45 67</a></li>
                    <li><a href="tel:+380 99 123 45 67">+380 99 123 45 67</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Адрес</h3>
                <address>
                    г. Харьков, <br>
                    Ул. Сумская 12 оф. 123
                </address>
            </div>
        </div>
    </div>
    <nav class="footer-nav">
        <div class="container">
            <ul>
                <li><a href="#">Портфолио</a></li>
                <li><a href="#">О Нас</a></li>
                <li><a href="#">Команда </a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>
</footer>