<header id="header">
    <div class="holder">
        <div class="logo">
            <a href="index.html">
                <img src="../images/logo-dark.svg" alt="Refit House">
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <a href="portfolio.html">Портфолио <i class="fas fa-sort-down"></i></a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="work.html">Дизайн Интерьера</a></li>
                            <li><a href="work.html">Ремонт Квартир и Коммерческих Помещений</a></li>
                            <li><a href="work.html">Фасадные Работы</a></li>
                            <li><a href="work.html">Благоустройство и Ландшафтные Работы </a></li>
                            <li><a href="work.html">Реконструкции и Перепланировка</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="about.html">О Нас</a></li>
                <li><a href="team.html">Команда</a></li>
                <li><a href="contacts.html">Котакты</a></li>
            </ul>
        </nav>
        <div class="contacts">
            <a href="tel:+380 99 123 45 67" class="tel"><i class="fas fa-phone"></i> +380 99 123 45 67</a>
            <ul class="social">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
        <a href="#" class="nav-opener"><span></span></a>
    </div>
</header>